#textArea{
    min-height: 30px;
}

#messageArea{
    background-color: rgba(200, 253, 255, 0.3) ;
}
.btn-lg{
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(256, 256, 256, 0.8);
}

.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    overflow-y: auto;
    resize: none;
    max-height: 150px;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
    }
    .msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
    word-wrap: break-word;
    }
    .msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(3, 1, 12, 0.8);
    font-size: 10px;
    }
    .msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(1, 27, 9, 0.8);
    font-size: 10px;
    }