{% extends "auth/auth_base.html" %}
{% block page%}
    {% block content %}
        {{ super() }}
        <div class= "container">
            <form class="form-signin" method="POST">
                <div class="form-group">
                    <d1>
                        {{wtf.form_field(form.userid)}}
                        {{wtf.form_field(form.password)}}
                    </d1>
                    <p> <input class="btn btn-primary" type="submit" value="Login"> </p>
                </div>
            </form>
        </div>

    {% endblock %}
{% endblock %}